__pycache__/config.cpython-36.pyc
__pycache__/utils.cpython-36.pyc
.ipynb_checkpoints
__pycache__
venv
old_logs/model=Baseline__11-19-23-38/train/events.out.tfevents.1605807481.temir-System-Product-Name.18658.4671.v2
old_logs/model=Baseline__11-19-23-38/train/events.out.tfevents.1605807534.temir-System-Product-Name.18849.4671.v2
old_logs/model=Baseline__11-19-23-38/validation/events.out.tfevents.1605807481.temir-System-Product-Name.18658.4679.v2
old_logs/model=Baseline__11-19-23-38/validation/events.out.tfevents.1605807534.temir-System-Product-Name.18849.4679.v2
old_logs/model=Baseline__11-19-23-52/train/events.out.tfevents.1605808353.temir-System-Product-Name.20513.4671.v2
old_logs/model=Baseline__11-19-23-52/validation/events.out.tfevents.1605808353.temir-System-Product-Name.20513.4679.v2
old_logs/model=Baseline__11-20-15-21/train/events.out.tfevents.1605864095.temir-System-Product-Name.3285.4671.v2
old_logs/model=Baseline__11-20-15-21/validation/events.out.tfevents.1605864095.temir-System-Product-Name.3285.4679.v2
tensorboard_logs/fit/model=Dilation_2__11-27-12-13/train/events.out.tfevents.1606457635.temir-System-Product-Name.5182.11628.v2
tensorboard_logs/fit/model=Dilation_2__11-27-12-13/validation/events.out.tfevents.1606457635.temir-System-Product-Name.5182.11636.v2
tensorboard_logs/fit/model=Dilation_2__11-27-15-50/train/events.out.tfevents.1606470607.temir-System-Product-Name.6963.11638.v2
tensorboard_logs/fit/model=Dilation_2__11-27-15-50/validation/events.out.tfevents.1606470607.temir-System-Product-Name.6963.11646.v2
check.py
conv_net_model.png
model_Rot3D.png
tensorboard_logs/fit/model=Dilation_2__12-03-22-57/train/events.out.tfevents.1607014671.temir-System-Product-Name.28110.11638.v2
tensorboard_logs/fit/model=Dilation_2__12-03-22-57/validation/events.out.tfevents.1607014671.temir-System-Product-Name.28110.11646.v2
tensorboard_logs/fit/model=Dilation_2__12-03-23-04/train/events.out.tfevents.1607015042.temir-System-Product-Name.28329.11638.v2
tensorboard_logs/fit/model=Dilation_2__12-03-23-04/validation/events.out.tfevents.1607015042.temir-System-Product-Name.28329.11646.v2
tensorboard_logs/fit/model=Dilation_2__12-03-23-05/train/events.out.tfevents.1607015140.temir-System-Product-Name.28475.11638.v2
tensorboard_logs/fit/model=Dilation_2__12-03-23-05/validation/events.out.tfevents.1607015140.temir-System-Product-Name.28475.11646.v2
mask/train_old_01.py
logs/
results/
listen_class.json
.vscode/settings.json
datasetAVA.py
listen_class_2.json

class_4_37.json
trainAVA.py
